 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cardspage{
    background: url("../Images/hero-slider-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 712px;
   overflow-y: auto;
}
.cardpageheader{
   height: 50px;
}

.Bnavbar{
    /* border: 2px  green solid; */
     height: 80px;
    width:1280px; 
 }


 /* .card{
    border: 2px red solid;
    border-top: 10px;
 } 
 
 */
 .cardmainhover:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;

 }


 .Bcardmain{
    /* border: 2px red solid; */
     margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
    width: 1260px;
    
    /* flex-direction: column; */


 }

 .Bfooter{
    position:relative;
    bottom: 0;
    left: 0;
    
   
 }
 .a1{   
    margin-top: 40px;
    /* border: 2px red solid; */


 }
 .a2{
    /* border: 2px  blue solid; */
    width: 100%;


 }
 .b1{
    /* border: 2px  green solid; */
    border-radius: 20px;
    


 }

 .addtocartbutton{
    background-color: red;
    color: white;
    border: none;
    padding: 7px 8px;
    border-radius: 10px ;
    cursor: pointer;
    
 }
 .addtocartbutton:hover{
    /* box-shadow: 10px 10px 10px 10px; */
 }


.hrtag{
    width: 100%;
    border: 1px black solid;
}

.CategoryName{
    /* border: 0.5px black solid; */
    font-size: 30px;
    border-bottom: 1px solid white;
    color: white;
}

.card{
   /* border: 2px red solid; */
   border-radius: 20px;
   background: rgba( 255, 255, 255, 0.4);
   backdrop-filter:blur(10px) ;
}