.myOrdersPageMain{
    width: 100%;
    height: 711px;
    /* border: 2px red solid; */
    background: url("../Images/hero-slider-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;

}
.MyOrdersPageBeforeDate ul{
    display: flex;
    align-items: center;
    justify-content:space-evenly;   
    width: 100%;
    flex-wrap: wrap;

}
